@import '~@angular/material/_theming.scss';
@import '../../../app-theme.scss';

.color-sensor {
    width: 60px;
    height: 60px;
    border: 1px solid mat-color($mat-grey, 900);

    &.black {
        background-color: mat-color($mat-grey, 900);
    }
    &.blue {
        background-color: mat-color($mat-blue, 400);
    }
    &.green {
        background-color: mat-color($mat-green, 400);
    }
    &.yellow {
        background-color: mat-color($mat-yellow, 400);
    }
    &.red {
        background-color: mat-color($mat-red, 400);
    }
    &.white {
        background-color: mat-color($mat-grey, 'A100');
    }
}

.led-color {
    position: relative;

    &::before {
        content: ' ';
        display: block;
        position: absolute;
        top: -6px;
        bottom: -6px;
        left: 0;
        right: 0;
    }

    // &.pink {
    //     color: mat-contrast($mat-pink, 400);
    //     &::before {
    //         background-color: mat-color($mat-pink, 400);
    //     }
    // }
    // &.purple {
    //     color: mat-contrast($mat-purple, 400);
    //     &::before {
    //         background-color: mat-color($mat-purple, 400);
    //     }
    // }
    // &.blue {
    //     color: mat-contrast($mat-blue, 400);
    //     &::before {
    //         background-color: mat-color($mat-blue, 400);
    //     }
    // }
    // &.lightblue {
    //     color: mat-contrast($mat-light-blue, 400);
    //     &::before {
    //         background-color: mat-color($mat-light-blue, 400);
    //     }
    // }
    // &.cyan {
    //     color: mat-contrast($mat-cyan, 400);
    //     &::before {
    //         background-color: mat-color($mat-cyan, 400);
    //     }
    // }
    // &.green {
    //     color: mat-contrast($mat-green, 400);
    //     &::before {
    //         background-color: mat-color($mat-green, 400);
    //     }
    // }
    // &.yellow {
    //     color: mat-contrast($mat-yellow, 400);
    //     &::before {
    //         background-color: mat-color($mat-yellow, 400);
    //     }
    // }
    // &.orange {
    //     color: mat-contrast($mat-orange, 400);
    //     &::before {
    //         background-color: mat-color($mat-orange, 400);
    //     }
    // }
    // &.red {
    //     color: mat-contrast($mat-red, 400);
    //     &::before {
    //         background-color: mat-color($mat-red, 400);
    //     }
    // }
    // &.white {
    //     color: mat-contrast($mat-grey, 'A100');
    //     &::before {
    //         background-color: mat-color($mat-grey, 'A100');
    //     }
    // }
}

.connection-status {
    color: mat-color($mat-legored, 400);

    &.connected {
        color: mat-color($mat-green, 700);
    }
}

.mat-slider.mat-slider-vertical {
    height: 100%;
}

.status-section {
    align-content: center;
    justify-content: center;
}

.status-section > * {
    margin: 8px;
}
