<div class="app-container">
    <mat-toolbar color="primary">
        <span>Lego Movehub Remote</span>
        <div class="toolbar-fill"></div>
        <mat-icon [svgIcon]="batteryIcon | async"></mat-icon>
        <button
            mat-icon-button
            type="button"
            class="connection-status"
            [ngClass]="{ connected: isConnected | async }"
            (click)="toggleConnection()"
        >
            <mat-icon *ngIf="(isConnected | async)">bluetooth_connected</mat-icon>
            <mat-icon *ngIf="!(isConnected | async)">bluetooth_disabled</mat-icon>
        </button>
    </mat-toolbar>
    <div class="content-container">
        <div class="row">
            <div class="column">
                <span class="mat-body-2">Motor A</span>
                <mat-slider #motorA thumbLabel tickInterval="10" vertical min="-100" max="100" step="1" value="0" (change)="setMotorSpeed('A', motorA.value)" [disabled]="!(isConnected | async)"></mat-slider>
            </div>
            <div class="column status-section">
                <span class="mat-body-2">Color Sensor</span>
                <div class="color-sensor" [ngClass]="colorSensor | async"></div>
                <span class="mat-body-2">Distance</span>
                <span class="mat-body" *ngIf="(distance | async) !== null">{{ distance | async }} mm</span>
                <span *ngIf="(distance | async) === null" class="mat-body">∞</span>
                <button color="accent" mat-raised-button type="button" (click)="stop()">STOP</button>
                <mat-form-field>
                    <mat-select
                        class="led-color"
                        [ngClass]="ledColorClass"
                        placeholder="LED Color"
                        [formControl]="ledColorControl"
                        panelClass="led-color-panel"
                    >
                        <mat-option value="255">Off</mat-option>
                        <mat-option value="1" class="Pink">Pink</mat-option>
                        <mat-option value="2" class="Purple">Purple</mat-option>
                        <mat-option value="3" class="Blue">Blue</mat-option>
                        <mat-option value="4" class="LightBlue">Light Blue</mat-option>
                        <mat-option value="5" class="Cyan">Cyan</mat-option>
                        <mat-option value="6" class="Green">Green</mat-option>
                        <mat-option value="7" class="Yellow">Yellow</mat-option>
                        <mat-option value="8" class="Orange">Orange</mat-option>
                        <mat-option value="9" class="Red">Red</mat-option>
                        <mat-option value="10" class="White">White</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-slide-toggle (change)="toggleExternalMotor($event)">External Motor</mat-slide-toggle>
                <!--
                    <div ui-knob [value]="controlState.externalMotor" [options]="knobOptions" (valueChange)="updateExternalMotorValue($event)"></div>
                -->
                <!-- <div ui-knob [options]="knobOptions"></div> -->
            </div>
            <div class="column">
                <span class="mat-body-2">Motor B</span>
                <mat-slider #motorB thumbLabel tickInterval="10" vertical min="-100" max="100" step="1" value="0" (change)="setMotorSpeed('B', motorB.value)" [disabled]="!(isConnected | async)"></mat-slider>
            </div>
        </div>
    </div>
</div>
