@import '~@angular/material/_theming.scss';
@import '../../../app-theme.scss';

.color-sensor {
    width: 60px;
    height: 60px;
    border: 1px solid mat-color($mat-grey, 900);

    &.black {
        background-color: mat-color($mat-grey, 900);
    }
    &.blue {
        background-color: mat-color($mat-blue, 500);
    }
    &.green {
        background-color: mat-color($mat-green, 500);
    }
    &.yellow {
        background-color: mat-color($mat-yellow, 500);
    }
    &.red {
        background-color: mat-color($mat-red, 500);
    }
    &.white {
        background-color: mat-color($mat-grey, 'A100');
    }
}

.led-color {
    position: relative;

    ::ng-deep .mat-select-value {
        position: relative;

        &::after {
            display: block;
            content: ' ';
            border-radius: 50%;
            position: absolute;
            height: 18px;
            width: 18px;
            right: 0;
            top: 0;
        }
    }

    &.pink {
        ::ng-deep .mat-select-value::after {
            background-color: mat-color($mat-pink, 500);
        }
    }
    &.purple {
        ::ng-deep .mat-select-value::after {
            background-color: mat-color($mat-purple, 500);
        }
    }
    &.blue {
        ::ng-deep .mat-select-value::after {
            background-color: mat-color($mat-blue, 500);
        }
    }
    &.lightblue {
        ::ng-deep .mat-select-value::after {
            background-color: mat-color($mat-light-blue, 500);
        }
    }
    &.cyan {
        ::ng-deep .mat-select-value::after {
            background-color: mat-color($mat-cyan, 500);
        }
    }
    &.green {
        ::ng-deep .mat-select-value::after {
            background-color: mat-color($mat-green, 500);
        }
    }
    &.yellow {
        ::ng-deep .mat-select-value::after {
            background-color: mat-color($mat-yellow, 500);
        }
    }
    &.orange {
        ::ng-deep .mat-select-value::after {
            background-color: mat-color($mat-orange, 500);
        }
    }
    &.red {
        ::ng-deep .mat-select-value::after {
            background-color: mat-color($mat-red, 500);
        }
    }
    &.white {
        ::ng-deep .mat-select-value::after {
            height: 16px;
            width: 16px;
            background-color: mat-color($mat-grey, 'A100');
            border: 1px solid mat-color($mat-gray, 900);
        }
    }
}

.connection-status {
    color: mat-color($mat-legored, 500);

    &.connected {
        color: mat-color($mat-green, 700);
    }
}

.mat-slider.mat-slider-vertical {
    height: 100%;
}

.status-section {
    align-content: center;
    justify-content: center;
}

.status-section > * {
    margin: 8px;
}
