@import "~@angular/material/_theming.scss";

.color-sensor {
    width: 60px;
    height: 60px;
    border: 1px solid #000;

    &.black {
        background-color: #000;
    }
    &.blue{
        background-color: #00f;
    }
    &.green {
        background-color: #0f0;
    }
    &.yellow {
        background-color: #ff0;
    }
    &.red {
        background-color: #f00;
    }
    &.white {
        background-color: #fff;
    }
}
